/* CyanVoxel tweaks (addapted) */

/* =====================================================
SPACING
===================================================== */

.markdown-rendered h1,
.markdown-source-view .cm-header-1 {
margin-top: 1.2em;
}

h1, h2, h3 {
letter-spacing: 0.02em;
}

hr {
margin: 10px 0;
}

/* =====================================================
IMAGES
===================================================== */

img {
max-width: 100%;
border-radius: 6px;
}

.image-borders img {
border: 2px solid rgba(122,122,122,0.2);
}

/* centered images */

.center-images img {
display: block !important;
margin-left: auto !important;
margin-right: auto !important;
}

/* =====================================================
CALLOUTS
===================================================== */

.callout {
border-radius: 10px;
}

/* =====================================================
CHECKBOXES
===================================================== */

.task-list-item-checkbox {
border-width: 2px;
}

/* =====================================================
CALENDAR PLUGIN
===================================================== */

#calendar-container .title {
font-size: 18px;
}

/* =====================================================
EMBEDS
===================================================== */

.no-embed-border {
--embed-border-left: 0px solid transparent;
}

/* =====================================================
CENTER TITLES OPTION
===================================================== */

.center-titles :is(
h1,h2,h3,h4,h5,h6,
.HyperMD-header
) {
text-align: center;
}
